<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>vfy.be link shortener</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- CSS concatenated and minified via ant build script-->
  <link rel="stylesheet" href="Content/css/style.css">
  <!-- end CSS-->

  <script src="Content/js/libs/modernizr-2.0.6.min.js"></script>
</head>

<body>

  <div id="container">
       <header>
        <h1>vfy.be</h1>
        <h3>shortening links the Nancy way</h3>
    </header>
    <div id="main" role="main">
        <article class="actionbox">
            <h3>Shorten</h3>
            <label>Url <input type="text" name="url" id="url" /> </label><button id="shorten">Chop</button>
            <ul id="shortened-links">
                <li style="display:none;" id="tmpl"> 
                    <h4 id="old-url"></h4>
                    <p><input type="text" name="short-url" id="short-url" readonly="true" /></p>
                </li>
            </ul>
            <div id="shortened-link"></div>
        </article>
        
         <article class="actionbox">
            <h3>Expand</h3>
            <label>Url <input type=text name="url" id="expand-url" /> </label><button id="expand">Expando</button>
            <div id="look-result" style="display:none;">
                <p>Real url <div id="real-url"></div></p>
                <p>Click count <div id="click-count"></div></p>
            </div>
        </article>

    </div>
    <footer>

    </footer>
  </div> <!--! end of #container -->


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>

  <script> // Change UA-XXXXX-X to be your site's ID
    window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>
<script>
  $(function() {
     
    $('#shorten').click(function() {
            var newItem = $("#tmpl").clone();
            newItem.prependTo("#shortened-links").slideDown("slow");
            
            newItem.find('#short-url').val('Loading…');
            newItem.find('#old-url').text($('#url').val());
            
            $.post("api/shorten-url", { Url : $('#url').val()}, function(data) {
                    newItem.find('#short-url').val(data);
                });
              
            });
    });
    
    $("#expand").click(function() {
        $("#click-count").html("<em>loading…</em>");
        $("#real-url").html("<em>loading…</em>");
        $("#look-result").fadeIn('slow');
        
        $.getJSON("api/expand-url", { Code: $("#expand-url").val() }, function(data) {
            $("#click-count").html("<em>" + data.Clicks + "</em>");
            $("#real-url").html("<em>" + data.Url + "</em>");
        });
    });
    </script>
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
</body>
</html>
